.container {
  max-width: 1200px;
  margin: auto;
  font-family: Arial, sans-serif;
}

.add-item-button,
.update-item-button,
.delete-item-button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-item-button:hover,
.update-item-button:hover,
.delete-item-button:hover {
  background-color: #0056b3;
}

.search-bar,
.category-dropdown {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: calc(100% - 22px); /* Adjust width to account for padding and border */
}

.Items-Table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.Items-Table th,
.Items-Table td {
  text-align: left;
  padding: 12px;
  transition: background-color 0.3s;
}

.Items-Table th {
  color: white;
  font-size: 16px;
  position: relative;
  background-color: transparent;
  z-index: 2;
}

.Items-Table th {
  color: white;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px); /* For Safari 9+ */
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #d1d5db;
  position: sticky;
  top: 0;
  z-index: 50;
}

.Items-Table td {
  background-color: white;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
}

.Items-Table tr:last-child td {
  border-bottom: none;
}

.Items-Table tr:nth-child(even) td {
  background-color: #f8f9fa;
}

.Items-Table tr:hover td {
  background-color: #e9ecef;
}

.item-image {
  width: 100px;
  height: auto;
  border-radius: 4px;
}
.add-item-button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #28a745; /* Green color for add button */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-item-button:hover {
  background-color: #218838; /* Darker green on hover */
}

.update-item-button,
.delete-item-button {
  margin: 5px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.update-item-button {
  background-color: #28a745; /* Green color for update button */
}

.update-item-button:hover {
  background-color: #218838; /* Darker green on hover */
}

.delete-item-button {
  background-color: #dc3545; /* Red color for delete button */
}

.delete-item-button:hover {
  background-color: #c82333; /* Darker red on hover */
}
