.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #2c3e50;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000; /* Ensuring it's above other elements */
}

.sidebar .logo {
  /* Your existing logo styles */
  margin-bottom: 20px;
}

.sidebar .menu {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px; /* Push the menu up */
}

.sidebar .menu li {
  padding: 15px 10px;
  margin-bottom: 10px; /* Increased space between menu items */
  transition: background-color 0.3s;
}

.sidebar .menu li:hover {
  background-color: #34495e;
}

.sidebar .menu li a {
  text-decoration: none;
  color: white;
  display: block;
}
.logout-button {
  background-color: #2c3e50 !important;
}
/* Responsive Styles for the sidebar */
@media (max-width: 1024px) {
  .sidebar {
    width: 200px; /* Slightly smaller width for tablets and larger phones */
  }

  .sidebar .menu li {
    padding: 12px 8px; /* Adjust padding for space */
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 150px; /* More compact for small tablets and large phones */
  }

  .sidebar .menu li {
    padding: 10px 6px; /* Further adjust padding for space */
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 100px; /* Very compact for small phones */
  }

  .sidebar .menu li a {
    font-size: 14px; /* Smaller font size for the links */
  }

  .sidebar .logo {
    /* Adjust logo styles for smaller display or hide it */
    display: none;
  }
}
