.category-row, .sub-category-row {
    display: flex;
    padding-right: 100px;
  }
  
  .category-name {
    font-weight: bold;
    font-size: 10px; 
    flex-grow: 1;
    margin-right: 300px; 
  }
  .sub-category-row {
    padding-left: 40px; 
  }


  