/* ChartComponent.css */
.chart-container {
    margin: 20px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
  }
  
  .title-of-chart {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
  }
  