.NavBar {
  color: #fff;
  display: flex;
  justify-content: space-between; /* This will push the left and right sections to the edges */
  align-items: center;
  padding: 10px 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.NavBarClient {
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 100%; /* Ensure the nav takes full width */
  margin: 0;
  padding: 0;
}

.leftNav, .rightNav {
  display: flex;
  align-items: center;
}

.leftNav {
  justify-content: flex-start; /* Align leftNav items to the left */
}

.rightNav {
  justify-content: flex-end; /* Align rightNav items to the right */
  flex-grow: 1; /* Allow rightNav to take up remaining space */
}

.NavBarClient li {
  padding: 10px 20px;
}

.NavBarClient li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.NavBarClient li a:hover {
  color: #ddd;
}

.client, .categorys, .orders, .cart, .profile, .logout {
  transition: background-color 0.3s ease-in-out;
}

.client:hover, .categorys:hover, .orders:hover, .cart:hover, .profile:hover, .logout:hover {
  background-color: #555;
}

@media (max-width: 768px) {
  .NavBarClient {
    flex-direction: column;
    align-items: center;
  }

  .NavBarClient li {
    padding: 10px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .NavBarClient li:last-child {
    margin-bottom: 0;
  }
}
