.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 700px;
  height: 607px;
  align-items: center;
  /* max-height: 90vh; */
  overflow-y: auto;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  padding: 1px;
}

.modal-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 14px;
  flex: 0 0 auto; /* The label doesn't grow but keeps the width it needs */
  margin-right: 10px; /* Maintains space between label and input */
  text-align: left; /* Aligns the text to the left */
}
.label,
.input,
.select,
.fileInput,
.checkbox {
  margin: 0;
  padding: 8px;
  display: block; /* Makes sure the input takes the full width of its flex item */
}
.input,
.select,
.fileInput {
  flex-grow: 1; /* Allows input fields to grow and fill the remaining space */
  border: 1px solid #ccc !important;
  border-radius: 4px;
  height: 40px;
  background-color: white !important; /* Sets the height of the input fields */
}
.form-group label {
  display: block;
  /* margin-bottom: 5px; */
}
.form-group {
  display: flex;
  align-items: center; /* Keeps items aligned vertically in the center */
  justify-content: flex-start; /* Aligns items to the start (left) */
  margin-bottom: 10px; /* Maintains spacing between each form group */
}

.checkbox {
  /* For checkboxes, we don't need them to grow too much */
  flex: 0 0 auto; /* Don't grow, don't shrink, based on content */
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}
.addButton,
.cancelButton {
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;

  margin-left: 8px;
  border: none; /* Add this line if you want to remove the default border */
  outline: none; /* Add this line to remove the outline */
}

.addButton {
  background-color: #4caf50 !important; /* Standard green button */
  color: black;
}

.addButton:hover {
  background-color: #45a049; /* Darker green on hover */
}

.cancelButton {
  background-color: #f44336 !important; /* Standard red button */
  color: black;
}

.cancelButton:hover {
  background-color: #d32f2f; /* Darker red on hover */
}

button:focus {
  outline: none; /* Removes the focus outline to match modern style */
}
