.Modal {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  position: relative;
  width: 60%;
  max-width: 600px;
  max-height: 80vh;
  margin: auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  font-size: 14px; /* Adjusted font size for the entire modal */
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ModalAddItem__Content {
  background: #fff;
  padding: 20px;
  width: auto;
  max-width: 400px;
  min-width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ModalAddItem__Header {
  font-size: 1.2em; /* Adjusted header font size */
  color: #333;
  margin-bottom: 20px;
}

.ModalAddItem__Form label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  color: #444;
  font-size: 14px; /* Adjusted label font size */
}

.ModalAddItem__Form input,
.ModalAddItem__Form button {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px; /* Adjusted input and button font size */
}

.ModalAddItem__Form input:focus,
.ModalAddItem__Form button:focus {
  outline: none;
  border-color: #80bdff;
}

.ModalAddItem__Form button.submit-button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ModalAddItem__Form button.submit-button:hover {
  background-color: #0056b3;
}

.ModalAddItem__Form button.cancel-button {
  background-color: #6c757d;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ModalAddItem__Form button.cancel-button:hover {
  background-color: #545b62;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .ModalAddItem__Content {
    width: 90%;
    padding: 15px;
  }
}
