.statics-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10%;
  margin-left: 20%;
  padding: 20px;
  align-items: center;
}

.chart-container:hover {
  transform: translateY(-5px); /* Consistent lift effect on hover */
}

.statics-title {
  margin: 0;
  font-size: 1.5rem; /* Adjust based on your preference */
  font-weight: bold;
  color: #333; /* Consistent color for readability */
  text-align: center;
  margin-bottom: 20px;
}

/* Responsive design tweaks */
@media screen and (max-width: 768px) {
  .statics-container {
    grid-template-columns: 1fr; /* Stack charts on smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .chart-container {
    padding: 15px;
  }
}
