.update-item-modal {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    margin: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Ensure modal is above other content */
  }
  
  .header {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .update-item-modal input {
    width: 60%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }
  
  .update-item-modal .update-button {
    width: 60%;
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .update-item-modal .update-button:hover {
    background-color: #45a049;
  }
  
  .update-item-modal .close-button {
    width: 60%;
    background-color: #f44336;
    color: white;
    padding: 15px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 15%;
  }
  
  .update-item-modal .close-button:hover {
    background-color: #d32f2f;
  }
  
  .update-item-modal div {
    margin-top: 10px;
  }
  .update-item-modal .checkbox-container {
    margin: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .update-item-modal .checkbox-label {
    font-size: 16px;
    margin-right: 50%;
  }
  
  .update-item-modal input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }